.home,
.home * {
  box-sizing: border-box;
}
.home {
  background: #3d3a3a;
  height: 852px;
  position: relative;
  overflow: hidden;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.ellipse-1 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 103px;
  height: 101px;
  position: absolute;
  left: 145px;
  top: 369px;
}
.home2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 168px;
  top: 408px;
}
.log-in {
  position: absolute;
  inset: 0;
}
.ellipse-2 {
  background: #d9d9d9;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  position: absolute;
  left: 249px;
  top: 545px;
}
.log-in2 {
  color: #000000;
  text-align: left;
  font-family: "Inter-SemiBold", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  left: 257px;
  top: 571px;
}
.line-1 {
  border-style: solid;
  border-color: #ffffff;
  border-width: 1px 0 0 0;
  width: 95.88px;
  height: 0px;
  position: absolute;
  left: 216px;
  top: 470px;
  transform-origin: 0 0;
  transform: rotate(59.959deg) scale(1, 1);
}
